<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291002737215-tcg9er5j8khbjgqqmqvc0c2mgn9v6d0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291002737215-tcg9er5j8khbjgqqmqvc0c2mgn9v6d0m</string>
	<key>API_KEY</key>
	<string>AIzaSyCte1FgG2Sr-9gg8zXsyVTWzqCrXXZCfeE</string>
	<key>GCM_SENDER_ID</key>
	<string>291002737215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yig.mi.locasma</string>
	<key>PROJECT_ID</key>
	<string>locasma-3cc59</string>
	<key>STORAGE_BUCKET</key>
	<string>locasma-3cc59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291002737215:ios:3151537f5a31268877ce8a</string>
</dict>
</plist>